@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Registration.css">

<div class="container">
    <h1 class="page-title text-center">Welcome Back</h1>
    <p class="subtitle text-center">Log in to continue your journey</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center mb-4">Sign in to your account</h3>
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="input-group">
                            <span class="input-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                </svg>
                            </span>
                            <div class="form-floating w-100">
                                <input asp-for="Input.Email" class="form-control input-with-icon w-100" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="input-group">
                            <span class="input-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                </svg>
                            </span>
                            <div class="form-floating w-100">
                                <input asp-for="Input.Password" class="form-control input-with-icon w-100" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="checkbox mb-4">
                            <label asp-for="Input.RememberMe" class="form-label text-white">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>

                        <button id="login-submit" type="submit" class="btn btn-lg btn-primary">
                            Sign In
                        </button>

                        <div class="login-link">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register now</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center mb-4">Use another service</h3>
                    </div>
                    <div class="card-body">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="d-grid gap-2">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-lg btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        Sign in with @provider.DisplayName
                                    </button>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}