@model IEnumerable<GameHive.Models.PublisherRequest>

@{
    ViewData["Title"] = "Publisher Requests";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Request ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.RequestId</td>
                <td>@request.FirstName</td>
                <td>@request.LastName</td>
                <td>@request.Birthdate</td>
                <td>@request.DateCreated</td>
                <td>@request.RequestEnums</td>
                @if(request.RequestEnums == GameHive.Models.enums.RequestEnums.Pending)
                {
                    <td>
                        <form asp-area="Admin" asp-controller="Publishers" asp-action="Approve" method="post">
                            <input type="hidden" name="userId" value="@request.UserId" />
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form asp-area="Admin" asp-controller="Publishers" asp-action="Reject" method="post">
                            <input type="hidden" name="userId" value="@request.UserId" />
                            <button type="submit" class="btn btn-success">Reject</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-area="Admin" asp-controller="Publishers" asp-action="Delete" method="post">
                            <input type="hidden" name="userId" value="@request.UserId"/>
                            <button type="submit" class="btn btn-success">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
